---
import logo from "../images/logo.jpeg"
---

<header class="fflex items-center justify-center  h-20 bg-pink-100">
    <div >
        <div class="w-10 rounded-[50%]">
            <a href="index.html">
                <img src={logo} alt="logo"/>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/"></a>Home</li>
                <li><a href="/about"></a>About</li>
                <li><a href="/galeries"></a>Galeries</li>            
            </ul>
        </nav>
    </div>
</header>

<style>

</style>